*{margin: 0;padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
a {text-decoration: none; color: black;}
li {list-style: none;}
body {font-family: 'Noto Sans KR', sans-serif;}



/* ---------------header--------------- */
.innerheader {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    position: fixed;
    top: 0; left: 0;
    z-index: 9999;
}
.logo {
    width: 120px;
    height: auto;
    margin-left: 15px;
}
.logo img {
    width: 100%;
    height: auto;
    vertical-align:middle
}

/* ---------------checkbox--------------- */

#hamBtn {display: none;}
#search {display: none;}

#search:checked ~ .searchOpen {display: none;}
#search ~ .searchClose {display: none;}
#search:checked ~ .searchClose {display: block;}

#hamBtn:checked ~ .hamOpen {display: none;}
#hamBtn ~ .hamClose {display: none;}
#hamBtn:checked ~ .hamClose {display: block;}

#hamBtn:checked ~ .menu {width: 200%;}
#hamBtn ~ .menu {width: 0;}

#search ~ .bg {height: 0;}
#search:checked ~ .bg {height: 100%}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    transition: all 0.8s;
}
label {
    font-size: 24px;
}
.searchOpen, .searchClose {
    position: absolute;
    top: 0;
    right: 60px;
}
.hamOpen, .hamClose {
    position: absolute;
    top: 0;
    right: 20px;
}
.search {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.search01 {
    width: 100%;
    height: 60px;
    background-color: white;
    text-align: center;
}
input {
    width: 200px;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ccc;
}
button {
    border: none;
    background: none;
}
button i {
    font-size: 20px;
    padding-top: 5px;
}

/* ---------------menu--------------- */

.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 58px;
    right: -100%;
    transition: all 0.5s;
    z-index: 998;
    overflow: hidden;
    background-color: white;
}
.menu01 {
    width: 50%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #cccccc;
    box-sizing: border-box;
    padding-right: 20px;
}
.menu01 a {
    color: #666;
}
.menu01 a:first-child, 
.menu01 a:nth-child(2) {
    margin-right: 10px;
}
.lnb li{
    padding-left: 20px;
    border-top: 1px solid #cccccc;
    font-size: 20px;
    font-weight: bold;
}
.menu02 {
    border-top: 1px solid #cccccc;
    padding-left: 20px;
}
.menu02 a {
    color: #888;
}
.menu02 a:first-child {
    margin-right: 10px;
}

/* ---------------section--------------- */
.title {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

/* ---------------radio--------------- */
section {
    width: calc(100%-20px);
    height: auto;
    padding: 0 20px;
}

#tab01, #tab02 {display: none;}

#tab01:checked ~ .sheet .sheet01 {display: block;}
#tab02:checked ~ .sheet .sheet02 {display: block;}


#tab01:checked ~ .label .lab01 {
    color: #EC912C;
}
#tab02:checked ~ .label .lab02 {
    color: #EC912C;
}
.label {
    width: 100%;
    display: flex;
    justify-content: center;
}

.label label {
    display: block;
    height: 40px;
    text-align: center;
    line-height:30px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
    transition: all 0.3s;
}
.sheet div {
    display: none;
}

/* ---------------filter--------------- */

#filter {
    margin-bottom: 10px;
    border: 1px solid #999;
}
/* #filter {display: none;}

#filter:checked ~ .open {display: none;}
#filter:checked ~ .close {display: block;}
#filter ~ .close {display: none;}

#filter:checked ~ .filter_box {width: 100%;}
#filter ~ .filter_box {width: 0;}

.filter_box {
    width: 100%;
    height: 510px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    top: 170px;
    left: 0;
    z-index: 990;
    overflow: hidden;
    transition: all 0.5s;
}
.open {display: flex;}

.top_box label {
    height: 20px;
    font-size: 16px;
    line-height: 15px;
}
.top_box label i {
    font-size: 18px;
    line-height: 20px;
    margin-right: 5px;
} */



/* ---------------sheet--------------- */

.sheet .box01 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.sheet .box01 img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-bottom: none;
}
.text01 {
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    font-size: 14px;
}
.text_box01 {margin-bottom: 10px;}

/* .text_box01 a:active li {
    background-color: #EC912C;
    color: white;
} */

.text_box01 li:first-child {
    font-size: 24px;
    font-weight: 700;
}
.text_box01 li:nth-child(2) {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #333;
}
.text_box01 li:nth-child(3), 
.text_box01 li:nth-child(4) {
    font-size: 16px;
    color: #666;
}
#heart {display: none;}

#heart ~ .full{display: none;}
#heart:checked ~ .empty{display: none;}
#heart:checked ~ .full {display: block;}

.text_box01 i{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #EC912C;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 28px;
    padding: 5px;
}

.price, .price02 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}
.price02 {
    color: #EC912C;
}
.text01 p {
    height: 25px;
    display: inline-block;
    background-color: #EC912C;
    color: white;
    padding: 0 10px;
    margin-top: 5px;
    line-height: 23px;
    font-size: 18px;
}

.sheet02 .box01 {
    
}
/* ---------------footer--------------- */

.footer {
    background-color: #f5f5f5;
}
.innerfooter .top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    line-height: 60px;
}
.top li {
    font-size: 18px;
    font-weight: 700;
}
.top li:first-child:after,
.top li:nth-child(2):after {
    content: "I";
    margin: 0 10px;
}
.middle {
    font-size: 12px;
    letter-spacing: -0.05em;
    color: #333;
    padding: 0 20px;
    text-align: center;
    line-height: 20px;
}
.icon {
    font-size: 30px;
    text-align: center;
}
.icon a {
    color: white;
}
.icon i {
    background: #666;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 20px;
}
.bottom {
    height: 30px;
    font-size: 12px;
    letter-spacing: -0.05em;
    color: #333;
    text-align: center;
    margin: 0 10px;
}

/* ---------------top button--------------- */
a.return-top { 
    width: 35px;
    height: 35px;
    position:fixed; 
    right:20px; 
    bottom:20px; 
    border-radius: 50%;
    z-index:998; 
    color: #333;
    background-color: #ddd;
    text-align: center;
}
a.return-top i {
    font-size: 25px;
    line-height: 35px;
}