*{margin: 0;padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
a {text-decoration: none; color: black;}
li {list-style: none;}
body {font-family: 'Noto Sans KR', sans-serif;}



/* ---------------header--------------- */

.innerheader {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0; left: 0;
    background-color: white;
}
.logo {
    width: 120px;
    height: auto;
    margin-left: 15px;
}
.logo img {
    width: 100%;
    height: auto;
    vertical-align:middle
}


/* ---------------checkbox--------------- */

#hamBtn {display: none;}
#search {display: none;}

#search:checked ~ .searchOpen {display: none;}
#search ~ .searchClose {display: none;}
#search:checked ~ .searchClose {display: block;}

#hamBtn:checked ~ .hamOpen {display: none;}
#hamBtn ~ .hamClose {display: none;}
#hamBtn:checked ~ .hamClose {display: block;}

#hamBtn:checked ~ .menu {width: 200%;}
#hamBtn ~ .menu {width: 0;}

#search ~ .bg {height: 0;}
#search:checked ~ .bg {height: 100%}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    transition: all 0.8s;
}
label {
    font-size: 24px;
}
.searchOpen, .searchClose {
    position: absolute;
    top: 0;
    right: 60px;
}
.hamOpen, .hamClose {
    position: absolute;
    top: 0;
    right: 20px;
}
.search {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.search01 {
    width: 100%;
    height: 60px;
    background-color: white;
    text-align: center;
}
input {
    width: 200px;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ccc;
}
button {
    border: none;
    background: none;
}
button i {
    font-size: 20px;
    padding-top: 5px;
}

/* ---------------menu--------------- */

.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 58px;
    right: -100%;
    transition: all 0.5s;
    z-index: 998;
    overflow: hidden;
    background-color: white;
}
.menu01 {
    width: 50%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #cccccc;
    box-sizing: border-box;
    padding-right: 20px;
}
.menu01 a {
    color: #666;
}
.menu01 a:first-child, 
.menu01 a:nth-child(2) {
    margin-right: 10px;
}
.lnb li{
    padding-left: 20px;
    border-top: 1px solid #cccccc;
    font-size: 20px;
    font-weight: bold;
}
.menu02 {
    border-top: 1px solid #cccccc;
    padding-left: 20px;
}
.menu02 a {
    color: #888;
}
.menu02 a:first-child {
    margin-right: 10px;
}

/* ---------------title--------------- */
section {
    width: calc(100%-20px);
    padding: 0 20px;
    margin-top: 60px;
}
.title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}
.title i {
    line-height: 60px;
}
.title h4 {
    font-size: 24px;
}
.title p, i {
    font-size: 20px;
}
.title01, .title02 {
    display: flex;
}

/* ---------------tap--------------- */
#tab01, #tab02, #tab03 {display: none;}

#tab01:checked ~ .sheet .sheet01 {display: block;}
#tab02:checked ~ .sheet .sheet02 {display: block;}
#tab03:checked ~ .sheet .sheet03 {display: block;}

#tab01:checked ~ .label .lab01 {
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#tab02:checked ~ .label .lab02 {
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#tab03:checked ~ .label .lab03 {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.label {
    display: flex;
}
.label label {
    flex: 1;
    margin-right: 15px;
}
.label label:last-child {
    margin-right: 0;
}
label img{
    display: block;
    width: 100%;
}
.sheet div {
    width: 100%;
    height: auto;
    display: none;
    margin-bottom: 20px;
}
.sheet div img {
    width: 100%;
    height: auto;
}

/* ---------------middle_box--------------- */
.middle_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 15px 0;
    position: relative;
}
.name {
    margin-bottom: 20px;
}
.middle_box p {
    color: #666;
    font-size: 18px;
}
#heart {display: none;}

#heart ~ .full{display: none;}
#heart:checked ~ .empty{display: none;}
#heart:checked ~ .full {display: block;}

.wish i{
    position: absolute;
    top: 30px;
    right: 0;
    color: #EC912C;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 28px;
    padding: 5px;
}
.price_box {
    width: 100%;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    line-height: 30px;
    padding: 10px 0;
    font-weight: 700;
    font-size: 18px;
}
.price_box02 {
    color: #EC912C;
}
.select {
    width: 100%;
    margin-top: 15px;
}
.select01 {
    width: 100%;
    height: 50px;
    background-color: #eee;
    color: #666;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}
.select01 p:last-child {
    margin-left: 10px;
    color: #EC912C;
}
.select02 {
    width: 100%;
    height: 50px;
    background-color: #EC912C;
    color: white;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 50px;
    font-weight: 900;
}

/* ---------------info--------------- */
.info01 {
    padding: 20px 0;
}
.info01 h3 {margin-bottom: 5px;}
.info02 {
    padding: 20px 0;
}
.info02 h3 {margin-bottom: 5px;}
.info01 p,
.info02 p {
    font-size: 18px;
    color: #666;
}
.info_img {
    width: 100%;
    display: flex;
    gap: 15px;
}
.info_img01 {
    flex: 1;
    border: 1px solid #ccc;
}
.info_img01 img {
    display: block;
    width: 100%;
}
.info03 h3 {margin-bottom: 5px;}

/* ---------------video--------------- */
.video h3 {
    padding-top: 20px;
    margin-bottom: 5px;
}
iframe {
    display: block;
    width: 100%;
}
/* ---------------footer--------------- */

.footer {
    background-color: #f5f5f5;
}
.innerfooter .top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    line-height: 60px;
}
.top li {
    font-size: 18px;
    font-weight: 700;
}
.top li:first-child:after,
.top li:nth-child(2):after {
    content: "I";
    margin: 0 10px;
}
.middle {
    font-size: 12px;
    letter-spacing: -0.05em;
    color: #333;
    padding: 0 20px;
    text-align: center;
    line-height: 20px;
}
.icon {
    font-size: 30px;
    text-align: center;
}
.icon a {
    color: white;
}
.icon i {
    background: #666;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 20px;
}
.bottom {
    height: 30px;
    font-size: 12px;
    letter-spacing: -0.05em;
    color: #333;
    text-align: center;
    margin: 0 10px;
}

/* ---------------top button--------------- */
a.return-top { 
    width: 35px;
    height: 35px;
    position:fixed; 
    right:20px; 
    bottom:20px; 
    border-radius: 50%;
    z-index:998; 
    color: #333;
    background-color: #ddd;
    text-align: center;
}
a.return-top i {
    font-size: 25px;
    line-height: 35px;
}